@import '@/shared/styles/variables';

.header{
  width: 100%;
  height: 274px;
  background-color: blanchedalmond;
  background-image: url('@/assets/HeaderBackground1.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;

  @media (min-width: $note-width) {
    height: 236px;
    background-image: url('@/assets/HeaderBackground@2.jpg');
  }

  @media (min-width: $tablet-width) {
    height: 276px;
    margin-bottom: 60px;
    background-image: url('@/assets/HeaderBackground@3.jpg');
  }

  @media (min-width: $desktop-width) {
    height: 340px;
    margin-bottom: 80px;
    background-image: url('@/assets/HeaderBackground@4.jpg');
  }

  @media (min-width: $widescreen-width) {
    height: 396px;
    margin-bottom: 100px;
    background-image: url('@/assets/HeaderBackground@5.jpg');
  }
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 274px;
  background: rgba(0,0,0,.6);
  z-index: 2;

  @media (min-width: $note-width) {
    height: 236px;
  }

  @media (min-width: $tablet-width) {
    height: 276px;
  }

  @media (min-width: $desktop-width) {
    height: 340px;
  }

  @media (min-width: $widescreen-width) {
    height: 396px;
  }
}

.header-title{
  font-family: "Noto Sans", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  font-style: normal;

  width: 290px;
  margin: auto;
  z-index: 3;

  @media (min-width: $note-width) {
    width: 450px;
    height: 96px;
  }

  @media (min-width: $tablet-width) {
    width: 470px;
    height: 96px;
  }

  @media (min-width: $desktop-width) {
    width: 617px;
    height: 120px;

    font-size: 54px;
    line-height: 60px;
  }

  @media (min-width: $widescreen-width) {
    width: 750px;
    height: 136px;

    font-size: 62px;
    line-height: 68px;
  }
}
