@import '@/shared/styles/variables';

.card {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  position: absolute;
  width: 290px;
  height: 448px;
  margin: 0 auto;
  padding: 16px 16px 20px 16px;
  border: 0.1px #D3D8E4 solid;
  box-sizing: border-box;

  @media (min-width: $note-width) {
    width: 258px;
    margin: 0 0 0 0;
  }

  @media (min-width: $tablet-width) {
    width: 345px;
    height: 440px;
    padding: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 455px;
    height: 470px;
    padding: 30px;
  }

  @media (min-width: $widescreen-width) {
    width: 360px;
    height: 500px;
  }
}

.card.prev{
  transform: translate(-100%);
  opacity: 0;
}

.card.left {
  transform: translateX(0%);
}

.card.center {
  transform: translateX(108%);

  @media (min-width: $desktop-width) {
    transform: translateX(106%);
  }
}

.card.right {
  transform: translateX(216%);

  @media (min-width: $desktop-width) {
    transform: translateX(212%);
  }
}

.card.new {
  transform: translateX(324%);
  opacity: 0;
}