$note-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$widescreen-width: 1200px;

.advertisement-wrapper{
  width: 100%;
  background-color: #010101;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $widescreen-width) {
    margin-bottom: 100px;
  }
}

.advertisement-section{
  width: 290px;
  padding: 50px 0 50px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media (min-width: $note-width) {
    width: 450px;
    padding: 60px 0 60px 0;
  }

  @media (min-width: $tablet-width) {
    width: 77%;
    padding: 70px 0 70px 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 940px;
    padding: 80px 0 80px 0;
    justify-content: space-between;
  }

  @media (min-width: $widescreen-width) {
    width: 1140px;
    padding: 100px 0 100px 0;
  }
}

.text-and-buttons-wrapper{
  display: flex;
  flex-direction: column;
  align-self: center;

  @media (min-width: $note-width) {
    width: 450px;
    height: 254px;
  }

  @media (min-width: $tablet-width) {
    width: 595px;
    height: 228px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
    width: 455px;
    height: 294px;
  }

  @media (min-width: $widescreen-width) {
    margin-top: 26px;
    width: 555px;
    height: 328px;
  }
}

.advertisement-header{
  width: 100%;
  height: 144px;
  margin: 0 auto;

  font-family: Noto Sans;
  font-size: 46px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--light-blue);

  @media (min-width: $note-width) {
    width: 450px;
    height: 96px;
  }

  @media (min-width: $tablet-width) {
    width: 595px;
  }

  @media (min-width: $desktop-width) {
    width: 455px;
    height: 120px;
    text-align: start;

    font-size: 54px;
    line-height: 60px;
  }

  @media (min-width: $widescreen-width) {
    width: 555px;
    height: 136px;

    font-size: 62px;
    line-height: 68px;
  }
}

.advertisement-body{
  width: 100%;
  height: 104px;
  margin: 14px 0 30px 0;
  box-sizing: border-box;

  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;

  @media (min-width: $note-width) {
    height: 78px;
    width: 450px;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    width: 595px;
  }

  @media (min-width: $desktop-width) {
    height: 84px;
    width: 455px;

    font-size: 20px;
    line-height: 28px;
    text-align: start;
    margin: 20px 0 30px 0;
  }

  @media (min-width: $widescreen-width) {
    height: 90px;
    width: 555px;

    font-size: 22px;
    line-height: 30px;
    margin: 22px 0 40px 0;
  }
}

.buttons-wrapper{
  @media (min-width: $note-width) {
    display: flex;
    align-self: center;
  }

  @media (min-width: $tablet-width) {
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
  }
}

.first-advertisement-button,
.second-advertisement-button{
  width: 100%;
  height: 36px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.800000011920929px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;

  @media (min-width: $note-width) {
    width: 140px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
    height: 40px;

    font-size: 13px;
    line-height: 20px;
  }

  @media (min-width: $widescreen-width) {
    width: 160px;
    height: 40px;

    font-size: 13px;
    line-height: 20px;
  }
}

.first-advertisement-button{
  margin-bottom: 16px;
  background-color: var(--light-blue);

  @media (min-width: $note-width) {
    margin: 0 16px 0 0;
  }
}

.second-advertisement-button{
  background-color: inherit;
  border: 1px solid var(--light-blue);
}

.advertisement-img{
  margin: 30px 0 0 0;

  @media (min-width: $note-width) {
    margin: 40px 0 0 0;
    width: 450px;
    height: 275px;
  }

  @media (min-width: $tablet-width) {
    width: 596px;
    height: 364px;
    margin: auto;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 455px;
    height: 332px;
    margin: 0 0 0 30px;
  }

  @media (min-width: $widescreen-width) {
    width: 458px;
    height: 380px;
    margin: 0 0 0 0;
  }
}