@import '../../shared/styles/variables';

.article-list,
.recommended-article-list{
  margin: 0 0 50px 0;
  display: grid;
  gap: 30px;

  @media (min-width: $note-width) {
    width: 546px;
    margin: auto;
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  }

  @media (min-width: $tablet-width) {
    width: 720px;
    grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    grid-template-columns: repeat(auto-fill, minmax(454px, 1fr));
    margin-bottom: 80px;
  }

  @media (min-width: $widescreen-width) {
    width: 1140px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    margin-bottom: 100px;
  }
}

.article-list li:nth-child(3),
.article-list li:nth-child(4){
  display: none;

  @media (min-width: $note-width) {
    display: grid;
  }
}

.recommended-article-list{
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 290px;
  margin: 0 auto;

  @media (min-width: $note-width) {
    margin-bottom: 20px;
    height: 490px;
    width: 546px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    height: 440px;
    width: 720px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    height: 470px;
    width: 940px;
  }

  @media (min-width: $widescreen-width) {
    margin-bottom: 40px;
    height: 500px;
    width: 1140px;
  }
}

.article{
  width: 290px;
  height: 448px;
  margin: 0 auto;
  padding: 16px 16px 20px 16px;
  border: 0.1px #D3D8E4 solid;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: box-shadow 0.3s ease;

  @media (min-width: $note-width) {
    width: 258px;
    margin: 0 0 0 0;
  }

  @media (min-width: $tablet-width) {
    width: 345px;
    height: 440px;
    padding: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 455px;
    height: 470px;
    padding: 30px;
  }

  @media (min-width: $widescreen-width) {
    width: 360px;
    height: 500px;
  }
}

.article:hover, .card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.section-name{
  width: 190px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    top: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 13px;
    line-height: 22px;
    width: 208px;
    height: 36px;
  }

  @media (min-width: $widescreen-width) {
    width: auto;
    padding: 0 17px 0 17px;
  }
}

.section-name{
  background-color: var(--bg-button-color);
}

.article-img{

  width: 258px;
  height: 140px;
  background-color: var(--bg-color);

  @media (min-width: $note-width) {
    width: 226px;
  }

  @media (min-width: $tablet-width) {
    width: 289px;
    height: 150px;
  }

  @media (min-width: $desktop-width) {
    width: 395px;
    height: 170px;
  }

  @media (min-width: $widescreen-width) {
    width: 300px;
    height: 170px;
  }
}

.second-article-img{
  background-image: var(--bg-image);
}

.fifth-article-img{
  background-image: var(--bg-image);
}

.author-name{
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 12px 0 6px 0;
  height: 18px;

  @media (min-width: $tablet-width) {
    margin: 16px 0 6px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 0 6px 0;
    width: 96px;
    height: 20px;

    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.8px;
  }
}

.author-name{
  color: var(--bg-button-colore);
}

.article-header{
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  width: 258px;
  height: 104px;
  margin: 0 0 10px 0;

  @media(min-width: $note-width){
    width: 226px;
  }

  @media (min-width: $tablet-width) {
    width: 289px;
    height: 52px;
    margin: 0 0 12px 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    width: 395px;
    height: 56px;
    margin: 0 0 16px 0;

    font-size: 20px;
    line-height: 28px;
  }

  @media (min-width: $widescreen-width) {
    width: 300px;
    height: 60px;

    font-size: 22px;
    line-height: 30px;
  }
}

.article-text{
  width: 258px;
  height: 66px;
  margin: 0 0 20px 0;
  text-overflow: ellipsis;
  overflow: hidden;

  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #010101;


  @media(min-width: $note-width){
    width: 226px;
  }

  @media (min-width: $tablet-width) {
    width: 289px;
    height: 66px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 395px;
    height: 52px;
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 26px;
  }

  @media (min-width: $widescreen-width) {
    width: 300px;
    height: 78px;
  }
}

.article-button{

  width: 140px;
  height: 36px;
  border-radius: 0;
  justify-content: start;

  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;

  @media (min-width: $desktop-width) {
    width: 160px;
    height: 40px;

    font-size: 13px;
    line-height: 20px;
  }

  :hover{
  opacity: 0.8;
}

  :active{
    opacity: 0.5;
  }
}

.article-button{
  background-color: var(--bg-button-color);
}

.add-articles__button{
  width: 200px;
  height: 50px;
  background-color: var(--light-blue);
  color: white;
  margin-bottom: 50px;
}