$note-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$widescreen-width: 1200px;

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root{
  --light-blue: #00B6DD;
  --dark-blue: #081580;
  --note-width: 576px;
  --tablet-width: 768px;
  --desktop-width: 992px;
  --widescreen-width: 1200px;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 100 900;
  src: url("fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}

button{
  border: none;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
}

img{
  max-width: 100%;
}