#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root{
  --light-blue: #00B6DD;
  --dark-blue: #081580;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 100 900;
  src: url("fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}

button{
  border: none;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body{
  width: 320px;
  margin: auto;
}

.header{
  width: 100%;
  height: 274px;
  background-color: blanchedalmond;
  background-image: url('assets/HeaderBackground.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 274px;
  background: rgba(0,0,0,.6);
  z-index: 2;
}

.header-title{
  font-family: "Noto Sans", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  font-style: normal;

  width: 290px;
  margin: auto;
  z-index: 3;
}
