#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root{
  --light-blue: #00B6DD;
  --dark-blue: #081580;
  --note-width: 576px;
  --tablet-width: 768px;
  --desktop-width: 992px;
  --widescreen-width: 1200px;
}

$note-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$widescreen-width: 1200px;

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 100 900;
  src: url("fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}

button{
  border: none;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
}

img{
  max-width: 100%;
}

.header{
  width: 100%;
  height: 274px;
  background-color: blanchedalmond;
  background-image: url('assets/HeaderBackground.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;

  @media (min-width: $note-width) {
    height: 236px;
  }

  @media (min-width: $tablet-width) {
    height: 276px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 340px;
    margin-bottom: 80px;
  }
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 274px;
  background: rgba(0,0,0,.6);
  z-index: 2;

  @media (min-width: $note-width) {
    height: 236px;
  }

  @media (min-width: $tablet-width) {
    height: 276px;
  }

  @media (min-width: $desktop-width) {
    height: 340px;
  }
}

.header-title{
  font-family: "Noto Sans", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  font-style: normal;

  width: 290px;
  margin: auto;
  z-index: 3;

  @media (min-width: $note-width) {
    width: 450px;
    height: 96px;
  }

  @media (min-width: $desktop-width) {
    width: 617px;
    height: 120px;
  }
}
